* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/pattern.jpg");
  z-index: -10;
}

/* navbar */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 0 30px;
  top: 0;
}

img {
  float: left;
}

nav ul {
  display: flex;
}

nav ul a {
  list-style: none;
  text-decoration: none;
  margin-left: 15px;
}

/* section artikel */
section {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: white;
}

section h1 {
  margin-bottom: 15px;
  text-align: center;
}

#article-list {
  display: flex;
  flex-direction: column;
}

#article-list a {
  text-decoration: none;
}

article {
  border-bottom: 1.5px solid black;
}
article h3,
p {
  margin: 12px 0px;
}

/* footer */
footer {
  text-align: center;
  margin-top: 10px;
  background-color: black;
}

h5 {
  color: white;
  padding: 10px;
}
/* * color
* font-size
* background
* text-align
* text-decoration
* position */
